head 
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='description', content=config.description)

    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css')
    //- link(rel='stylesheet', type='text/css', href=url_for('css/style.css'))

    link(href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.min.css", rel="stylesheet")